{{ define "head" }}
<link rel="stylesheet" href="/css/simple.min.css">
{{ end }}
{{ define "main" }}

<h1>Previously given talks</h1>

<p>Below you can find talks that I have previously given, as an indication of my speaking credentials.</p>

<h2>Timeline</h2>

{{ $s := newScratch }}
{{ $m := "previously" }}

{{ range (where .Site.RegularPages "Section" "talks") }}
{{ $title := .Title }}
{{ range .Params.Events }}

{{ $sl := slice }}
{{ if (($s.Get $m).date) }}
{{ $sl := ($s.Get $m).date.values }}
{{ end }}

{{ $sl = $sl | append (printf "%s @ %s" $title .name) }}

{{ $s.SetInMap $m .date (dict "key" .date "values" $sl) }}
{{ end }}
{{ end }}

<ul>
	{{ $x := collections.Sort ($s.Get $m) "key" "desc"}}

	{{ range $k, $v := $x }}

	{{ range $_k, $vv := $v.values }}
	<li>
		<time datetime="{{ $v.key }}">{{ $v.key }}</time>: {{ $vv }}
	</li>
	{{ end }}
	{{ end }}
</ul>

<h2>By talk title</h2>

{{ range sort (where .Site.RegularPages "Section" "talks") "Weight" "desc" }}
{{ if .Params.Events }}
<h3>{{ .Title }}</h3>

{{ range sort .Params.Events "date" "desc" }}
<li>
	{{ if .url }}
	<a href="{{ .url }}">{{ .name }}</a>
	{{ else }}
	{{ .name }}
	{{ end }}
	on {{ dateFormat "Monday, Jan 2, 2006" .date }} as a {{ .type }}.

	{{ if .video }}
	<a href="{{ .video }}">Recording of the talk</a>
	{{ end }}
</li>
{{ end }}

<p>
	<a href="{{ .Permalink }}">Talk details</a>
</p>

{{ end }}
{{ end }}

<h1>Other speaking engagements</h1>

<p>I've also previously appeared as part of the following:</p>

<ul>
	<li>
		<a href="https://fallthrough.transistor.fm/episodes/patching-problems-with-persnickety-proxies-purveyed-by-paternalistic-princes">
			Fallthrough podcast: <em>Patching Problems with Persnickety Proxies Purveyed by Paternalistic Princes</em>
		</a> (2025-02-17)
	</li>
	<li>
		<a href="https://cupogo.dev/episodes/go-1-24-release-party-live-show-for-episode-100">
			Cup o' Go podcast: <em>💯 Go 1.24 release party - LIVE SHOW FOR EPISODE 100! 🎙️</em>
		</a> (2025-02-14)
	</li>
	<li>
		<a href="https://apievangelist.com/2024/09/19/api-evangelist-conversation-with-jamie-tanna-engineering-productivity-at-elastic/">
			API Evangelist Conversation podcast: <em>API Evangelist Conversation with Jamie Tanna, Engineering Productivity at Elastic</em>
		</a> (2024-09-19)
	</li>
	<li>
		<a href="https://cupogo.dev/episodes/to-bisect-or-not-to-bisect-i-guess-the-answers-in-the-middle-with-jamie-tannas-step-counter">
			Cup o' Go podcast: <em>✄ To bisect or not to bisect? I guess the answer's in the middle with Jamie Tanna's step counter!</em>
		</a> (2024-08-30)
	</li>
	<li>
		<a href="https://changelog.com/gotime/328">
			Go Time podcast: <em>OpenAPI & API Design</em>
		</a> (2024-08-08)
	</li>
	<li>
		<a href=https://cupogo.dev/episodes/a-quick-tour-of-some-proposals-and-a-long-chat-about-openapi-with-jamie-tanna>Cup o' Go podcast: <em>A quick tour of some proposals, and a long chat about OpenAPI with Jamie Tanna</em></a> (2024-05-10)
	</li>
	<li>
		<a href=https://www.linkedin.com/events/7189657039315382273>Chainguard LinkedIn Live event: <em>Dan learns how to use dependency management data with Jamie!</em></a> (2024-05-03)
	</li>
	<li>
		<a href=https://leaddev.com/events/does-your-org-need-platform-engineering>Lead Dev webinar: <em>Does your organisation need Platform Engineering?</em></a> (2024-04-10, <a href="https://leaddev.com/technical-direction-strategy/does-your-org-need-platform-engineering">Recording</a>)
	</li>
	<li>
		<a href="https://changelog.com/friends/31">
			Changelog and Friends podcast: <em>Yeeting stuff into public</em>
		</a> (2024-02-17)
	</li>
</ul>

<p>Additionally, my work has been featured on the following podcasts:</p>

<ul>
	<li>
		<a href="https://www.techteamweekly.com/episode/5">
			Tech Team Weekly podcast: <em>Ep 5 - Talking Openly About Pay!</em>
		</a> (2021-09-27)
	</li>
</ul>

{{ end }}
