<header>
  <ul class="author-info">
    {{ with .Params.author }}
    {{ range . }}
    <li>
      <a href="{{ .link }}">{{ .name }}</a>
    </li>
    {{ end }}
    {{ else }}
    <li>
      <a href="https://twitter.com/jamietanna">@jamietanna</a>
    </li>
    {{ end }}
  </ul>
</header>

{{ with .Params.custom_end_partial }}
{{ partialCached . dict }}
{{ end }}
