.reveal pre {
  font-size: 0.35em;
}

.reveal .code-medium>pre {
  font-size: 0.65em;
}

.reveal .code-large>pre {
  font-size: 0.80em;
}

.reveal pre code {
  max-height: none;
}

.reveal section img {
  border: none;
  box-shadow: unset;
}

.reveal h1 {
  font-size: 3em;
}

/* https://stackoverflow.com/questions/34706859/set-header-and-footer-reveal-js-presentation */
.reveal header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 1rem;
  font-size: 60%;
  line-height: 2rem;
}

.reveal header>ul.author-info {
  list-style: none;
}

.reveal .hacktoberfest {
  background-color: #152347;
  color: #ffffff;
}

.reveal .hacktoberfest a {
  color: #ff07a6;
}

.reveal .progress {
  color: #ff07a6 !important;
}

.reveal .controls {
  color: #ff07a6 !important;
}

.reveal>header>ul.author-info>li>a {
  color: #ff07a6 !important;
  z-index: 999;
}
