<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width">

		<title>{{ .Title }}</title>
		{{ block "head" . }}{{ end }}
	</head>
	<body>
		{{ block "main" . }}{{ end }}
	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="https://stats.jvt.me/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', 1]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
	</script>
	<noscript><p><img src="https://stats.jvt.me/piwik.php?idsite=10" style="border:0;" alt="Piwik tracking image" /></p></noscript>
	<!-- End Piwik Code -->
	</body>
</html>
