{{ define "head" }}
<link rel="stylesheet" href="/css/simple.min.css">
{{ end }}

{{ define "main" }}
<h1>Jamie Tanna's talks</h1>

<p>Welcome to <span class="h-card"><a class="u-url" href="https://www.jvt.me">Jamie Tanna</a></span>'s talks site. Below you can find a list of my talks that I've done in the past, and where applicable, the slides. </p>

<p>You may also be interested in seeing a list of talks that I've <a href="/previously/">previously given</a>.</p>

{{ range sort (where .Site.RegularPages "Section" "talks") "Weight" "desc" }}
  <h3>{{ .Title }}</h3>

  <blockquote>
    {{ .Params.Description | markdownify }}
  </blockquote>

  <p>
  <a href="{{ .Permalink }}">View more details about this talk</a>.
{{ if .Params.has_slides }}
<a href="{{ .Permalink }}slides/">View slides</a>.
{{ end }}
  </p>
  {{ end }}
{{ end }}
