{{ define "head" }}
<link rel="stylesheet" href="/css/simple.min.css">
{{ end }}
{{ define "main" }}

<main>
	<div class="post">

    <h1>{{ .Title }}</h1>

		<blockquote>
			{{ .Params.Description | markdownify }}
		</blockquote>

<p>
{{ if .Params.has_slides }}
<a href="{{ .Permalink }}slides/">View slides</a>.
{{ end }}
</p>

		{{ .Content }}

		<div id="talk-events">
			{{ if .Params.Events }}
			<p>Events that this talk has/will be at:</p>
			<ul>
			{{ range sort .Params.Events "date" "desc" }}
				<li>
					{{ if .url }}
					<a href="{{ .url }}">{{ .name }}</a>
					{{ else }}
					{{ .name }}
					{{ end }}
					on {{ dateFormat "Monday, Jan 2, 2006" .date }} as a {{ .type }}.

					{{ if .video }}
					<a href="{{ .video }}">Recording of the talk</a>
					{{ end }}
					{{ with .slides }}
					<a href="{{ .url }}">Slides licensed under the {{ .license }}</a>
					{{ end }}
				</li>
			{{ end }}
			</ul>
			{{ else }}
			<p>I haven't yet shared this talk with the world.</p>
			{{ end }}
		</div>

	</div>
</main>

{{ end }}
